.cell {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../Assets/path.avif);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

}

.wall {
  border: none;
  background-image: url("../../Assets/wall.jpg");
}

.start-node {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
}
.rocketIcon {
  object-fit: contain;
  width: 35px;
  height: 35px;
  transition: transform 0.4s ease-in-out;
}

.target-node {
  width: 18px;
  height: 18px;
  background-color: yellow;
}

.rotate-right {
  transform: rotate(90deg);
}

.rotate-down {
  transform: rotate(180deg);
}

.rotate-left {
  transform: rotate(-90deg);
}

.rotate-up {
  transform: rotate(0deg);
}
